@import 'https://fontlibrary.org//face/semyon-soviet' ;

@import 'https://fontlibrary.org//face/assailand' ;

body {
  background-image: url('./images/background.png');
  background-size: conver;
}

.header {
  color: azure;
  font-family: SemyonSovietRegular , cursive;
  font-size: 30px;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
  text-align: center;
}

.system {
  color: azure;
  font-family: AzeriSansRegular , cursive;
  letter-spacing: 0.2rem;
  text-align: center;
}

.planets {
  display: flex;
  justify-content: space-evenly;
}

.div-planet {
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px black;
}

.name-planet {
  color: azure;
  margin-bottom: 0;
  text-align: center;
}

.img-planet {
  height: 130px;
  width: 130px;
}

.missions {
  color: azure;
  display: flex;
  flex-wrap: wrap;
  font-family: AzeriSansRegular , cursive;
  justify-content: space-evenly;
  letter-spacing: 0.2rem;
  text-align: center;
}

.infors-of-mission {
  background-image: url('./images/fundoP.png');
  border-radius: 50px;
  box-shadow: 10px 10px 10px 5px black;
  margin: 10px auto;
  width: 30%;
}

